*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #1f242d; */
    /* background-color: #323946; */
    /* color: #0ef; */
}
/* Navbar Design */
.cs-navbar{
    background-color: #1f242d;
    position: fixed;
    top: 0;
}
.cs-logo>.cs-logo{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.cs-logo>.cs-logo:hover{
    color: #0ef;
}
.cs-text>ul>li>a{
    color: #fff;
}
.cs-text>ul>li>a:hover{
    color:#0ef
}
.cs-search{
    box-shadow: 0px 0px 4px 2px #0ef;
}
.cs-toggle .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Hero Sec Design */
.content>p{
    font-size: 25px;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
}
.content>p>.name{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}
.content>p>.prof{
    color: #0ef;
    font-size: 30px;
}
.cs-hero{
    background-color: #1f242d;
    /* height: auto; */
    height: 400px;
}
.content>.text{
    font-size: 20px;
    color: rgba(240, 248, 255, 0.699);;
    font-weight: normal;
    line-height: 25px;
}
.cs-btn-link{
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #0ef;
    border-radius: 4px;
    color: #fff;
    background-color: #1f242d;
    box-shadow: 0px 0px 6px 1px #0ef;
    margin-top: 20px;
}
.cs-cv{
    width: 170px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 10px;
}
.trapezium-img {
    margin-top: 20px;
    width: 300px;
    height: 340px;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.content{
    margin-top: 60px;
}
.cs-hero-sec{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .cs-hero-sec{
        flex-direction: column;
        justify-content: center;
    }
    .cs-hero{
        height: auto;
    }
    .content{
        text-align: center;
    }
    .cs-profile>.trapezium-img{
        width: 250px;
        height: 290px;
        margin-top: 40px;
        margin-left: 50px;
        
    }
}

/* About Sec */
.cs-about-sec{
    display: flex;
    align-items: center;
}
.cs-about{
    background-color: #323946;
}
.Content{
    margin-left: 40px;
}
.Content>h1{
    color: #fff;
}
.Content>h1>.about{
    color: #0ef;
}
.about-txt{
    color: rgba(240, 248, 255, 0.699);
}
.Trapezium-img {
    margin-top: 20px;
    width: 300px;
    height: 340px;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
@media screen and (max-width:768px) {
    .cs-about-sec{
        flex-direction: column;
    }
    .cs-about{
        height: auto;
    }
    .about-txt{
        font-size: 15px;
    }
    .Content{
        text-align: center;
        position: relative;
        margin-top: 20px;
        right: 20px;
    }
    .cs-btn-link{
        position: relative;
        bottom: 15px;
    }
    .cs-profile>.Trapezium-img{
        width: 250px;
        height: 290px;
        margin-top: 40px;
        
    }
}

/* Skill-Sec */
.Skill-Sec{
    background-color: #1f242d;
    height: 450px;
}
.skill-hd{
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
.sp-skill{
    color: #0ef;
}
.skill-sec{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

}
.icon{
    font-size: 70px;
    color: #0ef;
}
.box{
    margin-top: 20px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    background-color: #323946;
    text-align: center;
    box-shadow: 0px 0px 8px 2px #0ef;
    border: 0px;
}
.cs-skill{
    color: #fff;
}
.skill-intro{
    padding: 5px;
    overflow: hidden;
    color: rgba(240, 248, 255, 0.699);
    font-size: 15px;
}
.skill-btn{
    width: 120px;
    height: 40px;
    background-color: #0ef;
    color: black;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: 0px;
}
@media screen  and (max-width:768px){
    .Skill-Sec{
        height: auto;
    }
    .skill-sec{
        gap: 10px;
    }
    .box{
        width: 280px;
        height: 300px;
    }
}
