*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(38, 38, 38, 1);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
nav{
    display: flex;
}
button{
    width: 150px;
    height: 40px;
    text-align: center;
    border: 2px solid #fff;
    background-color:  rgba(38, 38, 38, 1);
    border-radius: 4px;
    margin-right: 20px;
    color: #fff;
}

a{
    text-decoration: none;
    padding-right: 20px;
    color: #fff;

}

.btn{
    width: 200px;
    height: 60px;
    background-color: rgba(255, 226, 89, 1);
    padding: 5px 26px;
    border-radius: 4px;
    margin-top: 50px;
    border: none;
    
}
.btn a{
    text-decoration: none;
    color: black;
}